.main-Container {
  height: 100vh;

  display: flex;
  align-items: center;

  background-color: #0b022b98;
  z-index: 0;
}

.text-box {
  width: 50vw;
  height: 90vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-top: 100px;

  color: #fff;
  font-size: 18px;
}

.text-box #bem-vindo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vh;
  width: 25vw;

  background: linear-gradient(90deg, #462385, #191c7e);

  margin-top: 10%;
  margin-right: 25%;

  font-size: 16px;

  border: 1px solid #fff;
}

.text-box #bem-vindo:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.text-box #title {
  margin-top: 20px;
  margin-left: 30px;

  width: 85%;
  height: 15vh;

  font-size: 50px;
  line-height: 50px;
}

.text-box p {
  width: 80%;
  margin-top: 10px;
}

.text-box a {
  margin-top: 30px;
  margin-right: 280px;

  width: 20vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  text-decoration: none;
  color: #ffffff;

  font-size: 22px;
  text-transform: uppercase;

  border: 2px solid #fff;
}

.text-box a:hover {
  transform: scale(1.1);
  transition: 0.5s;
  color: #191c7e;
  border: none;
}

#icon-contato {
  margin-left: 30px;
  height: 100px;
  width: 30px;
}

.text-box a:before {
  content: '';
  position: absolute;
  width: 20vw;
  height: 10vh;
  transform: scaleX(0);

  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.text-box a:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
  z-index: -1;
}

.img-box {
  width: 50vw;
}

.img-box img {
  animation: alien 6s linear infinite;
}

@keyframes alien {
  0% {
    opacity: 0%;
    margin-right: 300px;
  }
  50% {
    opacity: 100%;
  }
  100% {
    margin-left: 250px;
    opacity: 0%;
  }
}

@media screen and (min-width: 1401) {
  .text-box a {
    margin-right: 200px;
  }
}

@media screen and (max-width: 1400px) {
  .text-box a {
    margin-top: 30px;
    margin-right: 100px;

    width: 30vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    text-decoration: none;
    color: #ffffff;

    font-size: 22px;
    text-transform: uppercase;

    border: 2px solid #fff;
  }
}

@media screen and (max-width: 1024px) {
  .text-box {
    height: 100vh;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #fff;
    font-size: 15px;
  }

  .text-box #bem-vindo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 10vh;
    width: 25vw;

    background: linear-gradient(90deg, #462385, #191c7e);

    font-size: 13px;

    border: 1px solid #fff;
  }

  .text-box #title {
    margin-top: 20px;
    margin-left: 30px;

    width: 85%;

    font-size: 30px;
    line-height: 50px;
  }

  .img-box img {
    animation: alien 10s linear infinite;
  }

  @keyframes alien {
    0% {
      opacity: 0%;
    }
    50% {
      opacity: 100%;
    }
    100% {
      opacity: 0%;
    }
  }
}

@media screen and (max-width: 800px) {
  .main-Container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
  }

  .text-box {
    width: 100vw;
    height: 100vh;

    margin-top: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: #fff;
    font-size: 10px;
  }

  .text-box #title {
    margin-top: 20px;
    margin-left: 30px;

    width: 60%;
    height: 10vh;

    font-size: 20px;
  }

  .text-box #bem-vindo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 10vh;
    width: 45vw;

    background: linear-gradient(90deg, #462385, #191c7e);

    margin-top: 10%;
    margin-right: 0;

    font-size: 10px;

    border: 1px solid #fff;
  }

  .text-box p {
    font-size: 13px;
  }

  .text-box a {
    margin-top: 30px;
    margin-right: 0px;

    width: 45vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    text-decoration: none;
    color: #ffffff;

    font-size: 15px;
    text-transform: uppercase;

    border: 2px solid #fff;
  }

  .img-box {
    width: 0;
    visibility: hidden;
  }
}

@media screen and (max-width: 450px) {
  .main-Container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text-box {
    width: 100vw;
    height: 100vh;

    margin-top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: #fff;
    font-size: 13px;
  }

  .text-box #title {
    margin-top: 20px;
    margin-left: 30px;

    width: 85%;
    height: 8vh;

    font-size: 20px;
    line-height: 0px;
  }

  .text-box #bem-vindo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 5vh;
    width: 60vw;

    background: linear-gradient(90deg, #462385, #191c7e);

    margin-top: 10%;
    margin-right: 0;

    font-size: 13px;

    border: 1px solid #fff;
  }

  .img-box {
    width: 0;
    visibility: hidden;
  }
}
/* screens

  640px min-width
  1024px min-width
  1920px min-width
*/
